body{
	margin: 0;
	padding: 0;
}
#bungkus{
	display: flex;
}
.sidebar{
	width: 300px;
	background: #A7D7C5;
	position: fixed;
	top: 0;
	height: 100%;

}
.navbar-nav{

}
.konten{
	margin-left: 300px;
	width: 100%;
	padding: 20px;
	margin-top: 40px;
	overflow: auto;
	white-space: nowrap;
}
table{
	border-collapse: collapse;
	text-align: center;
}
th,td{
	padding: 5px
}
a{
	text-decoration: none;

}
.edit-bulin label{
	width: 100px;
}
.edit-bulin .form-control{
	width: 400px;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
nav{
	margin-left: 300px;
	width: 100%;
	position: fixed;
	padding: 0;
	background: #5c8d89;
}
.navbar-nav .nav-item{
	display: inline;
	list-style: none;
	padding: 12px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}
.navbar-nav .nav-item a{
	padding: 12px;
	color: white;
}
.navbar-nav .nav-item:hover{
	box-shadow: 0px 4px 0px -1px #F4F9F4;
}
.navbar-nav .nav-item.active{
	box-shadow: 0px 4px 0px -1px #F4F9F4;

}
.sidebar .logo{
	border-bottom: 1px solid white;
	display: flex;
	align-items: center;
}
.sidebar .logo img{
	width: 60px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 20px;
}
.sidebar .logo h3{
	letter-spacing: 4px;
}
.sidebar .menu ul{
	padding-left: 0px;
}
.sidebar .menu li{
	padding-left: 20px;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	/*border-bottom: 1px solid white;*/
}
.sidebar .menu li:hover{
	background: #F4F9F4;
}
.sidebar .menu li a{
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-weight: 600;
	padding-right: 170px;

}